/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } */
  
   /* html{
    background: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
   
   } */
  
  body{
    display: grid;
    place-items: center;
    text-align: center;
    background-size: cover;
  }
  .cnt{
    width: 330px; 
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 200px;
    box-shadow: -3px -3px 9px #aaa9a9a2,
                3px 3px 7px rgba(147, 149, 151, 0.671);
   
  }
  .cnt .tit{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    color: rgb(247, 233, 233);
  }
  .cnt .field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 20px;
  }
  
  .field input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    /* color: #e0d2d2; */
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    /* background: rgba(105, 105, 105, 0); */
  }

  /* .field input::placeholder{
    color: #e0d2d2a6;
  } */
  
  .field:nth-child(2){
    margin-top: 20px;
  }
  
  .field .photu{
    position: absolute;
    width: 50px;
    line-height: 50px;
    /* color: #ffffff; */
    margin-left: 10px;
  }

  .buton{
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    background: rgba(105, 105, 105, 0) !important;
    /* margin-top: 30px !important; */
    outline: none;
    cursor: pointer !important;
    border-radius: 8px !important;
    padding: 10px;
  }
  .buton:hover{
  background-color: #babecc8c !important;
}


@media (max-width:400px) {
    .cnt{
      width: 300px;
      margin-top: 130px;
    }
    .tit{
      font-size: 20px;
    }
    .cnt .field{
      height: 40px;
    }
    .field input{
        font-size: 16px;
    }
    .field .photu{
      position: absolute;
      width: 40px;
      line-height: 40px;
    }
    buton{
      height: 40px;
      font-size: 17px;
    }
  }
  